.login-form {
  max-width: 500px;
  width: 100%;
  border: 1px solid #1677ff;
  border-radius: 10px;
  margin: 100px auto 0;
  padding: 20px;
}

@media (width <= 560px) {
  .login-form {
    max-width: 320px;
  }
}
